/* Ligher blue: #51a9cd
Darker blue: #368dc9
light red: #d83c53
dark red: #a50920
orange: #ce5437
green: #34ae8b
theme gen blue: #6795b7
theme gen dark blue bg: #1d3352
dark gray: #3e3d43
off white: #f9faf8
gray font colo: #b7b8bb */

:root {
    --primary-color: #368dc9;
    --primary-color-dark: #035a96;
    --secondary-color: #d83c53;
    --secondary-color-dark: #a50920;
    --font-color: #1d3352;
    --btn-font-color: #f9faf8;
    --bg-color: #f9faf8;
    --nav-color: #1d3352;

}

[data-theme='dark'] {
    --primary-color: #368dc9;
    --secondary-color: #d83c53;
    --font-color: #b7b8bb;
    --btn-font-color: #f9faf8;
    --bg-color: #3e3d43;
    --nav-color: #6795b7;
}

body {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
}

#darkModeToggle{
    float: right;
}

.navbar {
    background-color: var(--nav-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--btn-font-color);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--btn-font-color);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
}

.btn-secondary:hover {
    background-color: var(--secondary-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
}

p {
    color: var(--font-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}